<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SvShowUsers</display-name>
    <servlet-name>SvShowUsers</servlet-name>
    <servlet-class>servlets.SvShowUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvShowUsers</servlet-name>
    <url-pattern>/SvShowUsers</url-pattern>
  </servlet-mapping>
  <display-name>Aplicación Java con Servlets y Conexión a MySQL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SvRegisterUser</display-name>
    <servlet-name>SvRegisterUser</servlet-name>
    <servlet-class>servlets.SvRegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvRegisterUser</servlet-name>
    <url-pattern>/SvRegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvDeleteUser</display-name>
    <servlet-name>SvDeleteUser</servlet-name>
    <servlet-class>servlets.SvDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvDeleteUser</servlet-name>
    <url-pattern>/SvDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvUpdateUser</display-name>
    <servlet-name>SvUpdateUser</servlet-name>
    <servlet-class>servlets.SvUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvUpdateUser</servlet-name>
    <url-pattern>/SvUpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvConfirmModification</display-name>
    <servlet-name>SvConfirmModification</servlet-name>
    <servlet-class>servlets.SvConfirmModification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvConfirmModification</servlet-name>
    <url-pattern>/SvConfirmModification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvConfirmUpdate</display-name>
    <servlet-name>SvConfirmUpdate</servlet-name>
    <servlet-class>servlets.SvConfirmUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvConfirmUpdate</servlet-name>
    <url-pattern>/SvConfirmUpdate</url-pattern>
  </servlet-mapping>
</web-app>